<div class="listed col-md-6 col-md-offset-3">
  <div class="gray">
    <div class="marge">
      <h3>Edit your school</h1>
    </div>
  </div>

  <div class="bottom">
    <div class="marge2">

      <form role="form" action="/schools/<%= @school.id %>" method="post">

        <div class="form-group">
          <label for="name">School name</label>
          <input type="text" class="form-control" id="name" name="[school]name" placeholder="<%= @school.name %>">
        </div>

        <div class="form-group">
          <label for="city">Enter the city where this school is located</label>
          <input type="text" class="form-control" id="city" name="[school]city" placeholder="<%= @school.city %>" >
        </div>

        <!-- ##### switch this out later for better form element -->

        <div class="form-group">
          <label for="state">Enter the state where this school is located</label>
          <input type="text" class="form-control" id="state" name="[school]state" placeholder="<%=@school.state %>">
        </div>

        <div class="form-group">
          <label for="start_year">What year did you start this school?</label>
          <input type="text" class="form-control" id="start_year" name="[school]start_year" placeholder="<%= @school.start_year %>">
        </div>

         <div class="form-group">
          <label for="end_year">What year did you leave or graduate from this school?</label>
          <input type="text" class="form-control" id="[school]end_year" name="[school]end_year" placeholder="<%=@school.end_year %>">
        </div>
        
        <!-- implement at later date -->

         <!-- <div class="form-group">
          <label for="city">Did you graduate? </label>
          <input type="text" class="form-control" id="date" name="[school]date" placeholder="Enter date">
        </div> -->

        <input type="hidden" name="_method" value="put" />
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <form class="delete_form" action="/schools/<%= @school.id %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input class="delete_button" type="submit" value="Delete" />
      </form>
    </div>
  </div>
</div>